@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


 .home{ font-family: 'DM Sans', sans-serif;}
.lato{font-family: 'Lato', sans-serif;}
.poppings{font-family: 'Poppins', sans-serif;}

html {
  scroll-behavior: smooth;
}


@media (max-width: 768px) {
  nav {
    display: block;
    font-size: 0.8rem;
     
    padding: 3px;
  }
}